@font-face {
    font-family: "Comico";
    src: url("Comico-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Font";
    src: url("basis33.regular.ttf") format("opentype");
}
body{
    font-family: "Comico";
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    width: 100vw;
    height: 100vh;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.note{
    font-family: "Font";
    width: 25%;
    aspect-ratio: 1 / 1;
    background-color: rgb(255, 224, 208);
    text-align: center;
    display: flex;
    border-radius: 8px;
    flex-direction: column;   
    align-items: stretch;
    justify-content: flex-start;
    border: 2px solid rgb(82, 27, 27);
    box-shadow: 7px 7px 0 0 rgb(82, 27, 27);

    background-image: url('cheked.jpg');
    background-size: cover;        
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba(255, 224, 208, 0.7);  
    background-blend-mode: color-burn;    
}
.title{
    height: 13%;
    width: 100%;
    display: block;
    border-bottom: 2px solid rgb(82, 27, 27);
    text-align: start;
    padding: 5px 0 0 10px;
    font-size: 30px;
    color: rgb(82, 27, 27);
}
.note textarea {
    all: unset;
    font-size: 40px !important; 
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
    text-align: start;
    padding: 10px 20px 0 10px;
    color: rgb(82, 27, 27);
}
